<div class="mt-4">
    <h3> Đăng khóa học</h3>
    <form method="post" action="/courses/store">
        <div class="form-group">
            <label for="name">Tên khóa học</label>
            <input type="text" class="form-control" id="description" name="name">
        </div>
        <div class="form-group">
            <label for="description">Mô tả</label>
            <input type="text" class="form-control" id="description" name="description">
        </div>
        <div class="form-group">
            <label for="videoid">VideoId</label>
            <input type="text" class="form-control" id="description" name="videoid">
        </div>
        <div class="form-group">
            <label for="level">Trình độ</label>
            <input type="text" class="form-control" id="description" name="level">
        </div>

        <button class="btn btn-primary">Thêm khóa học</button>
    </form>
</div>