<script>
    function setCookie(cname, cvalue, exdays) {
        const d = new Date();
            d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
        let expires = "expires=" + d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }

  

    function login() {
        $.ajax({
            url: '/login',
            type: 'POST',
            data: {
                phonenumber: $("#phonenumber").val(),
                password: $("#password").val()
            }
        })
        .then(data => {
            // Lưu token vào cookies 
            setCookie("token", data.token, 1);
            window.location.href = '/';
        })
        .catch(error => {
            console.error('Lỗi:', error);
            alert("Số điện thoại hoặc mật khẩu không đúng")
        });
    }
   
</script>


<div>
    <h5>đăng nhập</h5>
    <input type="text" placeholder="Số điện thoại" id="phonenumber">
    <div></div>
    <input type="password" placeholder="Mật khẩu" id="password">
    <button onclick="login()">login</button>
    <a href="/auth/google"><span>Đăng nhập bằng google</span></a>
</div>
